@media print {
    body * {
      visibility: hidden;
      font-family: 'Times New Roman', Times, serif;
    }
    /* .hideBtn{
        display: none;
    }
    #hideDate {
        display: none;
    } */
    #divToPrint,
    #divToPrint * {
      visibility: visible;
    }
    #divToPrint {
      position: absolute;
      left: 0;
      top: 0;
      zoom: 150%;
      font-size: 20px;
      page-break-inside: avoid;
      box-shadow: none;
    }
    #detail{
        padding: 5px 5px;
        /* border-bottom: 1px solid gray; */
    }
    #irT{
        margin-top: 100px;
    }
    
  }